doctype html
html
  head
    link(rel='stylesheet', href='/vendor/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/vendor/bower_components/jquery/dist/jquery.js')
    script(src='/vendor/bower_components/bootstrap/dist/js/bootstrap.js')
  body
    nav.navbar.navbar-default(role='navigation')
      ul.nav.navbar-nav
        li
          a(href='/') Главная
        if user
          li
            a(href='/cabinet') Кабинет
      ul.nav.navbar-nav.navbar-right
        if user
          li
            a(href='', onclick='clickFunc()') Выйти
          script.
            var clickFunc = function () {
              $('body').append('<form id="submitme" method="POST" action="/logout"></form>');
              $('#submitme').submit();
              return false;
            }
        else
          li
            a(href='/login') Войти
    block content
